# Frontend Vite Variables
VITE_GT_TOKEN_P1=github_pat_
VITE_GT_TOKEN_P2=
VITE_ADMIN_PASSWORD=

# Backend Python Variables
GMAIL_EMAIL=
GMAIL_APP_PASSWORD=
ADMIN_EMAIL=
GH_TOKEN=
REPO=betahubdepaul-byte/depaul-slot-booking
